In [21]:
import pandas as pd
import numpy as np

In [22]:
cobranza = pd.read_excel("data/tabla_ejemplo_clientes.xlsx")
cobranza.head()

,ID,IDRef,ValorFacturado,ValorRecuperado,EstadoCobro,Factura,FechaFactura
0,720,1,403608.52800,1.009023e+06,Facturado,FVE168,2025-06-17
1,715,1,506353.54944,1.265883e+06,Facturado,FVE166,2025-06-13
2,715,2,555921.13344,1.389802e+06,Facturado,FVE166,2025-06-13
3,723,1,494194.36800,1.235485e+06,Facturado,FVE165,2025-06-13
4,704,1,812360.23296,2.030901e+06,Facturado,FVE162,2025-06-09

In [24]:
cobranza.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 938 entries, 0 to 937
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               938 non-null    int64
 1   IDRef            938 non-null    int64
 2   ValorFacturado   342 non-null    float64
 3   ValorRecuperado  342 non-null    float64
 4   EstadoCobro      330 non-null    object
 5   Factura          312 non-null    object
 6   FechaFactura     312 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(2), object(2)
memory usage: 51.4+ KB

In [25]:
# Faltantes
total_filas = cobranza.shape[0]

# Cantidad y porcentaje de nulos por columna
faltantes = cobranza.isnull().sum()
porcentaje = (faltantes / total_filas) * 100

columnas_faltantes = pd.DataFrame({
    'Valores Nulos': faltantes,
    'Porcentaje (%)': porcentaje.round(2)
})

columnas_faltantes

                 Valores Nulos  Porcentaje (%)
ID                           0            0.00
IDRef                        0            0.00
ValorFacturado             596           63.54
ValorRecuperado            596           63.54
EstadoCobro                608           64.82
Factura                    626           66.74
FechaFactura               626           66.74

In [26]:
# Reemplazar 'N/A' y 'NULL' (string) por np.nan en todo el DataFrame
cobranza.replace(["N/A", "NULL"], np.nan, inplace=True)